.pieces-of-the-action {
  width: 100%;
}

.pieces-of-the-action-container {
  width: 100%;
}

.image-container {
  width: 80%;
  height: 50%;
  margin-left: 200px;
  position: relative;
  display: inline-block;
}

.image-container > img {
  width: 50%;
  height: 600px;
}

.square-box {
  position: absolute; /* Allows the box to be positioned over the image */
  top: 70px; /* Adjust to position the box vertically */
  left: -90px; /* Adjust to position the box horizontally */
  width: 200px;
  height: 300px;
  background-color: white; /* Semi-transparent background */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.square-box h2 {
  font-size: 35px;
}

.button-container {
  position: absolute;
  bottom: 25px;
  right: 30px;
}

.bottom-text {
  width: 80%;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-text > h2 {
  font-size: 35px;
}
