.seventh-main-component {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
  padding-top: 35px;
}

.seventh-main-component-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
