.middle_nav {
  display: flex;
  justify-content: flex-end;
  background-color: aqua;
  height: 30px;
  align-items: center;
}

.section-middle_nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-right: 50px;
}

.button-middle_nav {
  font-size: 15px;
}

.title-middle_nav {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.title-middle_nav::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  top: 20px;
  background-color: red;
  transition: width 0.3s ease;
}

.title-middle_nav:hover::after {
  width: 100%;
}
