.women_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
  padding-top: 20px;
}

.upper-women_content {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.left-upper-women_content {
  width: 20%;
  border-right: 2px solid lightgray;
}

.middle-upper-women_content {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.left-middle-upper-women_content {
  width: 30%;
}

.middle-middle-upper-women_content {
  width: 30%;
}

.right-middle-upper-women_content {
  width: 30%;
}

.right-upper-women_content {
  width: 20%;
}

.lower-women {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 243, 247);
  margin-top: 20px;
  margin-bottom: 20px;
}

.lower-women_content {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.left-lower-women_content {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 2px solid lightgray;
}

.middle-lower-women_content {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-lower-women_content {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
