.item-container {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1%;
  padding-right: 1%;
}

.image {
  width: 100%;
  margin-bottom: 12px;
}

.image > img {
  width: 100%;
  cursor: pointer;
}

.item-container > h2 {
  margin-bottom: 12px;
  font-size: 26px;
}

.item-container p {
  margin-bottom: 12px;
}
